<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mission_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,319},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>mission_bg_active@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,394},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>mission_big_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>mission_small_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,319},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>pic_ballon_blue@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,320},{147,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,165}}</string>
                <key>sourceSize</key>
                <string>{147,165}</string>
            </dict>
            <key>pic_ballon_red@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,378},{109,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,122}}</string>
                <key>sourceSize</key>
                <string>{109,122}</string>
            </dict>
            <key>pic_bird@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,320},{88,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,56}}</string>
                <key>sourceSize</key>
                <string>{88,56}</string>
            </dict>
            <key>pic_castal_1@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,421},{127,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,81}}</string>
                <key>sourceSize</key>
                <string>{127,81}</string>
            </dict>
            <key>pic_castal_2@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,2},{128,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,312}}</string>
                <key>sourceSize</key>
                <string>{128,312}</string>
            </dict>
            <key>pic_castal_3@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,390}}</string>
                <key>sourceSize</key>
                <string>{142,390}</string>
            </dict>
            <key>pic_castal_4@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{190,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,316}}</string>
                <key>sourceSize</key>
                <string>{190,316}</string>
            </dict>
            <key>pic_ferriswheel@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{291,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,315}}</string>
                <key>sourceSize</key>
                <string>{291,315}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sky_assets@2x.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22c73bea7377e92eeb4602bb8f2c9ec5:1/1$</string>
            <key>textureFileName</key>
            <string>sky_assets@2x.png</string>
        </dict>
    </dict>
</plist>
