<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_desert_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{640,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,320}}</string>
                <key>sourceSize</key>
                <string>{640,320}</string>
            </dict>
            <key>map_desert_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,0},{640,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,320}}</string>
                <key>sourceSize</key>
                <string>{640,320}</string>
            </dict>
            <key>map_desert_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,0},{640,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,320}}</string>
                <key>sourceSize</key>
                <string>{640,320}</string>
            </dict>
            <key>map_desert_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,320},{640,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,320}}</string>
                <key>sourceSize</key>
                <string>{640,320}</string>
            </dict>
            <key>map_desert_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,320},{640,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,320}}</string>
                <key>sourceSize</key>
                <string>{640,320}</string>
            </dict>
            <key>map_desert_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,320},{640,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,320}}</string>
                <key>sourceSize</key>
                <string>{640,320}</string>
            </dict>
            <key>map_desert_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,640},{640,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,320}}</string>
                <key>sourceSize</key>
                <string>{640,320}</string>
            </dict>
            <key>map_desert_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,640},{640,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,320}}</string>
                <key>sourceSize</key>
                <string>{640,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>desert_bg.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6be1c1ab9e1b141ba384d1df25420b28:1/1$</string>
            <key>textureFileName</key>
            <string>desert_bg.png</string>
        </dict>
    </dict>
</plist>
